.input {
  display: flex;
  align-items: center; /* Puts label to the left of input */
  gap: 0.5rem;
}

.input label {
  font-weight: bold;
}

.input input {
  width: 3rem;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font: inherit;
  text-align: center;
}
